@model HF_Application.Models.User

@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    @if (Model != null)
    {
        <div class="col-md-8 offset-md-2 col-12 welcomediv">
            <h1 class="text-center">Welcome @Model.Email</h1>
        </div>

        <div class="form-control-lg">
            <div class="row menu-admin">
                <div class="col-sm">
                    <a class="btn menu-admin-btn" href="@Url.Action("Wishlist", "User")" style="background-color:aliceblue">
                        <h1>Your Wishlist</h1>
                        <h4>Orders that you have saved</h4>
                    </a>
                </div>
                <div class="col-sm">
                    <a class="btn menu-admin-btn" href="@Url.Action("Afrekenen", "Cart")" style="background-color:aliceblue">
                        <h1>CheckOut Page</h1>
                        <h4>If you want to Save your Order</h4>
                    </a>
                </div>
                <div class="w-100 d-lg-block d-xl-none"></div>
                <div class="col-sm">
                    <a class="btn menu-admin-btn" style="background-color:aliceblue">
                          <h1>@Html.ActionLink("Your Orders", "Orders","User")</h1>
                          <h4>Orders that you have purchased</h4>
                    </a>
                  
                </div>
            </div>
        </div>

    }
    else
    {
        <h1>fout</h1>
    }

</body>