@{
    ViewBag.Title = "Home Page";
}

<div class="mainpageimage">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-12 welcomediv">
            <h1 class="text-center">Welcome to Haarlem Festivals!</h1>
            <p class="welcometext">
                The Haarlem Festival is a new to be held festival to promote the rich history and culture of this unique city. The Haarlem Festival has a wider palette to inspire an even more diverse audience. The Haarlem Festival will be summer festival, held in july/august (dates to be announced) and especially targeted
                (although not exclusively) towards an international audience (tourists coming over for Holiday in the Netherlands).
            </p>
        </div>
    </div>
    <div class="row homepagefirstline">
        <div class="col-md-2 col-12 offset-md-2">
            <div class="mainpagetastediv">
                <h1 class="text-center">Taste</h1>
                <img class="jazzimage" src="~/Content/images/restaurant_mr_en_mrs.jpg" />
                <h2>Restaurant Mr. & Mrs. ****</h2>
                <p>
                    Dutch, European, fish and seafood.
                    Avalible times each day at 18.00, 19.30 and 21.00.
                    Price: 45.00 euro p.p.
                </p>
            </div>
        </div>

        <div class="col-md-2 col-12">
            <div class="mainpagejazzdiv">
                <h1 class="text-center">Hear</h1>
                <img class="jazzimage" src="~/Content/images/jazz.jpg" />
                <h2>The Family XL</h2>
                <p>
                    Modern Jazz and more. Date: 27-7-2018
                    Time: 20.00 - 21.00
                    Price:  10.00 euro
                </p>
            </div>
        </div>
        
        <div class="col-md-2 col-12">
            <div class="mainpagehistoricediv">
                <h1 class="text-center">See</h1>
                <img class="jazzimage" src="~/Content/images/historic_haarlem.jpg" />
                <h2>Historic Tour</h2>
                <p>
                    A guided tour available in Dutch, English and Chinees.
                    Start times: 10.00, 13.00 and 16.00.
                    Date: 27-7-2017
                </p>
            </div>
        </div>
        
        <div class="col-md-2 col-12">
            <div class="mainpagetalkdiv">
                <h1 class="text-center">Talk</h1>
                <img class="jazzimage" src="~/Content/images/restaurant_mr_en_mrs.jpg" />
                <h2>Paul Witteman meets Brigitte Kaandorp</h2>
                <p>
                    Haarlem, of course, has and had some famous citizens. In a three night special the Toneelschuur will bring
                    several of them together to talk about their relation with Haarlem and the impact it had/has on their careers. Admittance is free but reservation is mandatory
                    These talks will all be in Dutch!
                </p>
            </div>
        </div>
    </div>
    <div class="row homepagesecondline">
        <div class="col-md-2 col-12  offset-md-2">
            <div class="mainpagejazzdiv">
                <h1 class="text-center">Hear</h1>
                <img class="jazzimage" src="~/Content/images/jazz.jpg" />
                <h2>The Family XL</h2>
                <p>
                    Modern Jazz and more. Date: 27-7-2018
                    Time: 20.00 - 21.00
                    Price:  10.00 euro
                </p>
            </div>
        </div>

        <div class="col-md-2 col-12">
            <div class="mainpagetastediv">
                <h1 class="text-center">Taste</h1>
                <img class="jazzimage" src="~/Content/images/restaurant_mr_en_mrs.jpg" />
                <h2>Restaurant Mr. & Mrs. ****</h2>
                <p>
                    Dutch, European, fish and seafood.
                    Avalible times each day at 18.00, 19.30 and 21.00.
                    Price: 45.00 euro p.p.
                </p>
            </div>
        </div>

        <div class="col-md-2 col-12">
            <div class="mainpagetalkdiv">
                <h1 class="text-center">Talk</h1>
                <img class="jazzimage" src="~/Content/images/restaurant_mr_en_mrs.jpg" />
                <h2>Paul Witteman meets Brigitte Kaandorp</h2>
                <p>
                    Haarlem, of course, has and had some famous citizens. In a three night special the Toneelschuur will bring
                    several of them together to talk about their relation with Haarlem and the impact it had/has on their careers. Admittance is free but reservation is mandatory
                    These talks will all be in Dutch!
                </p>
            </div>
        </div>

        <div class="col-md-2 col-12">
            <div class="mainpagehistoricediv">
                <h1 class="text-center">See</h1>
                <img class="jazzimage" src="~/Content/images/historic_haarlem.jpg" />
                <h2>Historic Tour</h2>
                <p>
                    A guided tour available in Dutch, English and Chinees.
                    Start times: 10.00, 13.00 and 16.00.
                    Date: 27-7-2017
                </p>
            </div>
        </div>

    </div>

    </div>


</div>

