
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    @Styles.Render("~/Content/Talk.css")

</head>
<div class="col-md-6 offset-md-3 col-12 welcomediv">
    <h1 class="text-center">Talking Haarlem</h1>
    <p class="talktext">
        Haarlem, of course, has and had some famous citizens. In a three night special the Toneelschuur will bring several of them together to talk about their relation with Haarlem and the impact it had/has on their careers. Admittance is free but reservation is mandatory
        These talks will all be in Dutch!
    </p>
</div>




<div style="margin-top:15px" class="div123">
    <h1 class="text-center11">Thursday Juli 26th, 2018</h1>



    <img class="div1_img" src="~/Content/images/giel-beelen.jpg" />

    <div class="div1_1">

        <h4 class="text-h4">20:00-22:00 - Giel Beelen meets Rob Trip</h4>

        <p>
            Haarlem, of course, has and had some famous citizens. In a three night special the Toneelschuur will bring
            several of them together to talk about their relation with Haarlem and the impact it had/has on their careers. Admittance is free but reservation is mandatory
        </p>

        <p><strong>Talks will all be in Dutch!</strong> </p>
    </div>

    <div class="inputt1">
        <label for="Beschikbare_Stoels">Number</label>
    </div>

    <div class="inputt">
        <label>Amount</label>
            <input type="number" name="amount" value="0" min="0" max="26">                
    </div>

    <div class="bttns">

        <button type="button">Add to wishlist</button>
        <button type="button">Make Reservaton</button>

    </div>



</div>

<!-- 2e -->


<div style="margin-top:15px" class="div123">
    <h1 class="text-center11">Friday Juli 27th, 2018</h1>



    <img class="div1_img" src="~/Content/images/femke-halsema.jpg" />

    <div class="div1_1">

        <h4 class="text-h4">20:00-22:00 - Femke Halsema meets Job Cohen </h4>

        <p>
            Femke Halsema (born April 25, 1966) is a former Dutch politician. She was a member of the House of Representatives from 1998 till 2011.

            Job Cohen (born 18 October 1947) is a retired Dutch politician who served as Mayor of Amsterdam from 2001 to 2010 and as Leader of the Labour Party (PvdA) from 2010 to 2012. Cohen is known as a consensus builder and mediator, and as an advocate of social integration.

        </p>

        <p><strong>Talks will all be in Dutch!</strong> </p>
    </div>

    <div class="inputt1">
        <label for="Beschikbare_Stoels">Number</label>
    </div>

    <div class="inputt">
        <label>Amount</label>
        <input type="number" name="amount" value="0" min="0" max="26">
    </div>

    <div class="bttns">

        <button type="button">Add to wishlist</button>
        <button type="button">Make Reservaton</button>

    </div>


</div>


<div>
    <h1 > Ask Ask Ask </h1>
</div>






