body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto';
    color: #e0e0e0;
    /* gradient gaat over in transparant om een grafische bug te omzeilen*/
    background: linear-gradient(#3f3f3f 0%, transparent 15rem);
    background-color: #565656;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab';
}

.brand, .brand:hover{
    font-family: 'Roboto Slab';
    font-size: 3rem;
    color: #e0e0e0;
}

.breadcrumb {
    font-family: 'Roboto Slab';
    font-size: 1.5rem;
    background-color: transparent;
    padding: 0;
}

.breadcrumb-item.active, .breadcrumb a{
    color: #e0e0e0;
}

.menu-admin {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.menu-admin-btn {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.menu-admin-btn:hover, .menu-admin-btn-current {
    margin-bottom: 0;
    border-bottom: 1rem solid #e0e0e0;
}

.taste, .taste:hover {
    color: #e0e0e0;
    background-color: #CC2828;
}

.hear, .hear:hover {
    color: #e0e0e0;
    background-color: #23B223;
}

.see, .see:hover {
    color: #e0e0e0;
    background-color: #002699;
}

.talk, .talk:hover {
    color: #e0e0e0;
    background-color: #B28523;
}

.admin-btn {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: larger;
    color: #e0e0e0;
    background-color: #303030;
    cursor: pointer;
    text-overflow: ellipsis;
}

.admin-btn:hover {
    color: #e0e0e0;
    background-color: #3f3f3f;
}

.event-list-header {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    font-size: larger;
}

.event-list-body {
    background-color: #e0e0e0;
    font-size: larger;
    border-top-right-radius: .25rem;
    margin-bottom: 3rem;
}

.event-item {
    width: 100%;
    height: 2rem;
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.col-sm-1 .event-item, .col-sm-12 .event-item {
    border-top-right-radius: .25rem;
}

.item-dark {
    text-align: center;
    color: #e0e0e0;
    background-color: #303030;
}

.item-light {
    color: #565656;
    background-color: #e0e0e0;
}

.item-none {
    text-align: center;
    color: #565656;
    background-color: #e0e0e0;
}

label {
    background-color: #303030;
    width: 100%;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-size: larger;
}

@media (min-width: 1200px) {
    label{
        text-align: right;
    }
}

select {
    width: 100%;
    padding: .375rem .75rem;
    border-radius: .25rem;
    padding-left: -10px;
}

footer {
    margin-top: 5rem;
}