/*
Kleurcode food en drink: #910000
Jazz is #0D8C10  
Historic Haarlem #032A8C 
Talking Haarlem #9C6910
*/
html, body, form {
    height: 100%;
    color:white;
}
h2{
    font-size:20px;
}
p{
    font-size:12px;
}
body{
    background:#910000;
}

#Diner{
    background-image: url();

}

footer{
    background:black;
    color:white;
    padding:1% 1% 0.5% 1%;
}

#Jazz{
    background-image: url(images/bg-music.png);

}

.taste{
    background-color: #910000;
}

.hear{
    background-color: #0D8C10;
}

.see{
    background-color: #032A8C;
}

.talk {
    background-color: #9C6910;
}

@media only screen and (max-width : 992px) {
    .taste a, .hear a, .see a, .talk a {
        margin-left: 2rem;
    }
}

.box{
    height:100%;
    width:33.3%;

}

.buttonRightNav{
    float:left;
    width:50%;
}

.nav{
    background:#0a0a0a;
    height:100%;
    width: 100%;
} 

.jazzimage{
    width:100%;
}

.mainpagejazzdiv, .mainpagetastediv, .mainpagehistoricediv, .mainpagetalkdiv{
    padding:5%;
    border: 1px solid grey;
    background:#0D8C10;
    opacity:0.8;
}

.mainpagetalkdiv{
    background:#9C6910;
}

.mainpagetastediv{
    background:#910000;
}

.mainpagehistoricediv{
    background:#032A8C;
}

.welcometext{
    padding:0% 5%;
}

.homepagefirstline{
    margin-bottom:10px;
}

.welcomediv{
    color:white;
    padding: 1%;
    margin-top:5px;
    margin-bottom:5px;
    font-size:12px;
    display:block;
    background:#0a0a0a;
}
.lefheaderdiv{
    width:120px;
    background:#9c9c9c;
    margin-right:8px;
}

.body-content{
    padding:0%;
}

.mainpageimage{
    width:100%;
   background-image: url('./images/Haarlemcentrum.jpg');
   display:block;
   min-height:800px;
   background-repeat:round;
}

.flagdiv{
    width:50%;
    min-height:100%;
    padding:3px;
    float:left;
}

.logodiv{
    width:50%;
    min-height:100%;
    padding:5px;
    float:left;
}

.flag{
    width:80%;
    padding:7%;
    margin-top:6%;
    float:right;
}


.languageselecttext{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:10px;
    display:block;
    color:white;
    font-size:12px;
    font-weight:bold;
}

.logo{
    width:50%;
    padding-left:5%;
    float:left;
}

.navigationbar{
    padding:0px;
}

.rightNavigationButton{
    width:17%;
}