/*
Kleurcode food en drink: #910000
Jazz is #0D8C10  
Historic Haarlem #032A8C 
Talking Haarlem #9C6910
*/
html, body, form {
    height: 100%;
    color:white;
}
h2{
    font-size:20px;
}
p{
    font-size:12px;
}
body{
    background:#910000;
}

#Diner{
    background-image: url(images/Haarlem_diner_Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

footer{
    background:black;
    color:white;
    padding:1% 1% 0.5% 1%;
}

.homepagesecondline{
    padding-bottom:10px;
}

.taste {
    background-color: #CC2828;
}

.hear {
    background-color: #23B223;
}

.see {
    background-color: #002699;
}

.talk {
    background-color: #B28523;
}

@media only screen and (max-width : 992px) {
    .taste a, .hear a, .see a, .talk a {
        margin-left: 2rem;
    }
}

.box{
    height:100%;
    width:33.3%;

}

.buttonRightNav{
    float:left;
    width:50%;
}

.nav{
    background:#0a0a0a;
    height:100%;
    width: 100%;
} 

.mainpagejazzdiv, .mainpagetastediv, .mainpagehistoricediv, .mainpagetalkdiv {
    padding: 5%;
    border: 1px solid grey;
    background: #CC2828;
}

.mainpagetalkdiv{
    background:#9C6910;
}

.mainpagetastediv {
    background: #CC2828;
}

.mainpagehistoricediv{
    background:#032A8C;
}

.welcometext{
    padding:0 5%;
}

.homepagefirstline{
    margin-bottom:10px;
}

.welcomediv{
    color:white;
    padding: 1%;
    margin-top:5px;
    margin-bottom:5px;
    font-size:12px;
    display:block;
    background:#0a0a0a;
}
.lefheaderdiv{
    width:120px;
    background:#9c9c9c;
    margin-right:8px;
}

.body-content{
    padding:0%;
}

.mainpageimage{
   width:100%;
   background-image: url('./images/Haarlemcentrum.jpg');
   display:block;
   min-height:800px;
   background-repeat:round;
}

.flagdiv{
    width:50%;
    min-height:100%;
    padding:3px;
    float:left;
}

.logodiv{
    width:50%;
    min-height:100%;
    padding:5px;
    float:left;
}

.flag{
    width:80%;
    padding:7%;
    margin-top:6%;
    float:right;
}

.jazzimage_Home 
{
    width:100px;
}


.languageselecttext {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 10px;
    display: block;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.logo{
    width:50%;
    padding-left:5%;
    float:left;
}

.navigationbar{
    padding:0;
}

.rightNavigationButton{
    width:17%;
}

.profileicon {
    text-align: left;
    width: 20%;
    height: 20%;
}

.DinerNavigationButton {
    background-color: black;
    padding: 10px;
    border: 1px solid grey;
}

.restaurantnavigation{
    min-height:40px;
    margin-top:20px;
    margin-bottom: 10px;
}

a:hover{
    background-color: grey;
    color: antiquewhite;
}
.restaurantImage{
    width:100%;
    padding-top:4%;
    /*border-left: 5px solid #910000;*/

}

.restaurantdiv{
    background-color:rgba(145,0,0,0.85);
    min-height:500px;
    margin-top:10px;
    margin-bottom:10px;
    opacity:0.95;
    margin-right:2px;
}

.RestaurantName{
    border-bottom:1px solid black;
    border-color:white;
    font-size:25px;
}

.foodtypesretaurant{
    font-size:20px;
}

.MoreInformationButton{
  bottom: 5%;
  padding:2%;
  width: 50%;
  font-size:18px;
  font-weight:bold;
  border:1px solid black;
  color:black;
  background-color:white;
}
.MoreInformationButton:hover {
text-decoration:underline;
}

/*Jazz CSS*/

.JazzBody {
    background-image: url(images/bg-music.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.jazzImage {
    width: 100%;
    padding-top: 4%;
    /*border-left: 5px solid #5dd55d;*/
}

.jazzDiv {
    background-color: rgba(13, 140, 16, 0.85);
    min-height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
}

.jazzName {
    border-bottom: 1px solid black;
    border-radius: 25px;
    border-color: white;
    font-size: 25px;
}



.Talkdiv {
    background-color:#9C6910;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.95;
    padding:2% 1% 2% 1%;
}

.interviewName 
{
    color: white;
    border-bottom: 3px solid black;
    border-bottom-color: white;
    font:bold;
    margin-left:3%;
    margin-right:3%;
   
}

.talkImage1
{
    width: 90%;
    border-left: 5px solid #f79f06;
    margin-bottom:1%;
    
}

.talkImage2 {
    width: 95%;
    height:190px;
    border-left: 5px solid #f79f06;
    margin-bottom: 2%;
}



#Talk {
    background-image: url('images/achtergrond_talk.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#Talk1 {
    background-color: #9C6910;
    opacity: 0.95;
}

.form_reservering 
{
background-color:rgba(72,72,72,0.7);
padding: 10px 20px 30px 20px;
max-width:95%;
margin-top:30px;
border-radius:7px;

}

.cross-talk {
    background-color: rgba(72,72,72,0.7);
    padding: 10px 20px 10px 20px;
    max-width: 110%;
    margin-top: 30px;
    border-radius: 7px;
    margin-bottom:30px;
}

.text_form
{
color:black;

}

.text_HF 
{
    color: black;
    font:bold;
}

.cross1
{ 
    width:52%; 
    float:left
}
.cross2 {
    width: 52%;
    float: right;
}

.tastebuttoncol {
    padding: 5%;
}

#Diner1 {
    background-color: #910000;
    opacity: 0.95;
}





/*Cart design voor ee popup*/


#Cartbasket1 {
    position: absolute;
    float: left;
    left: 870px;
    z-index: 100;
    background-color: #ff0000;
    width: 390px;
    height: 616px;
    background-color: #413F4B;
    opacity: 0.9;
    display:block;
}

#Cartbasket-inner-style {
    width: 350px;
    height: 467px;
    max-height: 467px;
    margin-left: 15px;
    border: 1px #808080 solid;
    background-color: #E3E2E3;
    opacity: 1.0;
    overflow-y: auto; /* does nothing */
    /*height: calc(100% - 100px);*/
   
}

#Cartbasket-button {
    display: block;
    width: 125px;
    font-size: 18px;
    font-family: Arial;
    margin-top: 15px;
    margin-left: 202px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-right: 20px;
    color: #ffffff;
    background-color: #3283BC;
    text-decoration: none;
    font-weight: bold;
    opacity: 1.0;
}

#Cartbasket-button:hover {
        opacity: 0.9;
    }

#CartHeader {
    text-decoration: none;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 32px;
    font-weight: bold;
    font-family: Verdana;
    color: white;
    width:50%;
   
}

#CartHeader:hover {
        text-decoration: underline;
    }

#CartArea {
    margin: 5px 15px 5px 15px;
    padding: 5px 5px 5px 5px;
    background-color: #fff;
    border: 1px #797979 solid;
 
}


#Cartlink {
    display: block;
    margin-top: 12px;
    margin-left: 24px;
    float: left;
    width:50%;
  
}

#Cartlink a {
        font-size: 20px;
        font-family: Arial;
        color: white;
        font-weight: bold;
        text-decoration: none;
        width:50%;
       
    }

.overlay {
    position: fixed;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
        visibility: visible;
        opacity: 1.5;
    }

.Cartbasket1 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 70px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.Cartbasket1 .close:hover {
        color: #06D85F;
    }

