@model List<HF_Application.Models.TalkQuestion>
@{
    ViewBag.Title = "Attendee Questions";
    List<int> festivalIDs = new List<int>();
}

@if (Model.Any())
{
    foreach (var item in Model)
    {
        if (!item.Question.IsEmpty())
        {
            if (!festivalIDs.Contains(item.FestivalEvent.ID)){<br />}

            <div class="event-list-body">
                @if (!festivalIDs.Contains(item.FestivalEvent.ID))
                {
                    <div class="row">
                        <div class="col-sm-3"><span class="event-item item-dark">@Convert.ToString(item.FestivalEvent.StartDate.ToShortDateString())</span></div>
                        <div class="col-sm-5"><span class="event-item item-light">@Html.DisplayFor(modelItem => item.FestivalEvent.CartDescription)</span></div>
                    </div>
                    festivalIDs.Add(item.FestivalEvent.ID);
                }
                <hr />
                <div class="row">
                    <div class="col-sm-9 offset-3"><span class=" item-light event-item-box">@Html.DisplayFor(modelItem => item.Question)</span></div>
                </div>
            </div>
        }
    }

}
else
{
    <div class="row">
        <div class="col-sm-3"><span class="event-item item-dark"></span></div>
        <div class="col-sm-9"><span class="event-item item-light">No events found</span></div>
    </div>
}