
@{
    ViewBag.Title = "Hear";
}

<h2>Hear</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-3 list-dark">26/07/2018</div>
    </div>
    <div class="row list-light">
        <div class="col-sm list-dark">18.00 - 19.00</div>
        <div class="col-sm">Main Hall</div>
        <div class="col-sm">Jumbo Kings</div>
        <div class="col-sm">Edit</div>
    </div>
    <div class="row list-light">
        <div class="col-sm list-dark">18.00 - 19.00</div>
        <div class="col-sm">Second Hall</div>
        <div class="col-sm">Wicked Jazz Sounds</div>
        <div class="col-sm">Edit</div>
    </div>
    <div class="row list-light">
        <div class="col-sm list-dark">19.30 - 20.30</div>
        <div class="col-sm">Main Hall</div>
        <div class="col-sm">Evolve</div>
        <div class="col-sm">Edit</div>
    </div>
</div>