@model List<string>
@{
    ViewBag.Title = "Manage Photos";
}

<h2>Manage Photos</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm">
            <div class="card">
                <div class="card-title">Image @Html.Encode(item)</div>
                <img src="@Url.Content("~/Content/images/events" + item)" class="card-img">
            </div>
        </div>
    }
</div>