@model HF_Application.Models.Events.Jazz

<body class="JazzBody">
    <div class="container">
        <div class="row">
                <div class="detail-page-jazz">
                    <div class="col-md-12 text-center"><h1 class="RestaurantName">@Model.Band</h1></div>
                    <div class="col-md-8">
                        <img class="jazzImage" src="@Url.Content("~/Content/images/"+Model.imagePath)" alt="IMAGES" />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12 text-center">
                                <h2>Address</h2>
                            </div>
                            @Model.Location
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

