

<div class="col-md-8 offset-md-2 col-12 welcomediv">
    <h1 class="text-center">Done!</h1>


    <div class="text-center">
        <h4>We have send a conformation mail with the tickets</h4>
        <h5>Thanks!</h5>

    </div>

</div>


<a class="btn btn-info login" href="@Url.Action("Index","Home")">Go To The Home page</a>
