@model HF_Application.Models.ViewModel.RestaurantModel

@{
    ViewBag.Title = "Diner";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-12 text-center">
            @foreach (var foodtype in Model.ListOfSixFoodtypes)
            {
                <button class="DinerNavigationButton">@Html.ActionLink(foodtype.Naam, "Diners", 1)</button>
            }
           </div>
      </div>

    <div class="row">
        <div class="col-md-12 col-12 text-center">
            @foreach (var foodtype in Model.ListOfThreeFoodtypes)
            {
                <button class="DinerNavigationButton">@Html.ActionLink(foodtype.Naam, "Index", foodtype.Id)</button>
            }
        </div>
    </div>
</div>
